/*@import "mobile.css";*/
@import "nav.css";
*{
    box-sizing: border-box;
}
@font-face {
    font-family: sofia;
    src:url('../fonts/SofiaProLight-webfont.ttf');
}

body, html{
    margin:0;
    padding:0;
    width:100%;
    font-family: sofia;
    color:white;
    background-color:black;
    overflow-x:hidden;
}

a{
    cursor:pointer;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    width:80%;
    margin:0px  auto;
    border-top: 1px solid rgb(29, 91, 104);
}

.smallLine{
    width:80%;
    margin-left:5%;
    height:2px;
    padding:70px;
}

.bigLine{
    margin: 3.5% 3.5% 3.5% 2.5%;
    height:2px;
    width:95%;
}

.active{
    color:white !important;
    //text-decoration: #1e7fff underline !important;
}

.blueLink{
    color:rgb(44,141,160);
    cursor: pointer;
    text-decoration:none;
    transition: color 0.3s
}
.blueLink:hover{
    color:rgb(29,91,104);
    transition: 0.3s

}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    border:1px solid black;
    color:black;
}

